.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto;
    margin-top: 92px;
    max-width: 1184px;
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
        margin-top: 64px;
    }
}