.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
    text-align: center;
    font-style: normal;
    margin: 0;
    padding: 0;
}